.user-search_wrapper {
  position: absolute;
  background-color: #ddddddd0;
  width: 100%;
  top: 100%;
  z-index: 10;
  max-height: 0px;
  margin: 1px;
  overflow: hidden;
  border-radius: 5px;
  transition: max-height 0.3s;
}

.user-search_wrapper.open {
  max-height: 45vh;
}

.user-search_list {
  max-height: calc(45vh - 30px);
  color: black;
  overflow-y: auto;
  font-size: 0.8rem;
  list-style: none;
  padding: 0 10px 0 0;
  margin: 15px 5px 15px 15px;
  scrollbar-color: #474747cc rgba(0, 0, 0, 0);  
  scrollbar-width: thin;
}

.user-search_list::-webkit-scrollbar {
  width: 6px;
  background-color: transparent; 
  border-radius: 20px;
}

.user-search_list::-webkit-scrollbar-thumb {
  background-color:#3131316c;
}


.user-search_item {
  margin: 5px 0;
  cursor: pointer;
}

.user-search_item.current, .user-search_item:hover {
  background-color: rgba(0, 0, 0, 0.171);
}

.user-search_name {
  font-weight: 600;
  margin: 0 5px;
}

.user-search_describe {
  font-size: 0.7rem;
  font-style: italic;
  color:rgb(46, 46, 46);
  margin: 0;

}