@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
  margin: 0;
  background-color: black;
  padding: 30px 0;
  overflow: hidden;

  @media (max-width: 767px) {
    height: auto;
    overflow: auto;
  }

  @media (max-height: 600px) {
    height: auto;
    overflow: auto;
  }


  @media (min-height: 900px) {
    padding: 15vh 0;
  }

  @media (max-width: 767px) {
    padding: 20px 0;
  }
  
}

.background {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s;
  user-select: none;
  
  &.visible {
    transition: opacity 0.3s;
    opacity: 0.7;
  }
}

.start-screen {
  z-index: 950;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(187, 187, 187);
  transition: opacity 0.3s;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;

  @media (max-width: 960px) {
    padding: 0 30px;
  }

  @media (max-width: 767px) {
    padding: 0 20px;
  }

  @media (max-width: 480px) {
    padding: 0 10px;
  }
}

.controls {
  z-index: 2;

  &_wrapper {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_base, &_helpers, &_search {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin: 10px 0;    
  }

  &_base {
    justify-content: flex-start;

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &_helpers {
    justify-content: center;
  }

  &_unit-btn {
    display: flex;
    align-items: stretch;
  }

  &_unit-f, &_unit-c {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_search {
    justify-content: flex-end;
    position: relative;

    @media (max-width: 767px) {
      margin: 10px;
      justify-content: center;    
    }
  }

  &_background-btn, &_unit-btn, &_language {
    height: 50px;
    width: 50px;
    background-color: rgba(36, 34, 34, 0.842);
    border: 1px solid rgba(255, 255, 255, 0.856);
    border-radius: 5px;
    padding: 0;
    margin: 0 10px;
    opacity: 0.8;
    font-size: 17px;
    font-weight: 600;
    color: white;
    outline: none;
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: 0.9;
      background-color: rgb(41, 33, 33);
    }
  }

  &_background-btn {
    background-image: url("/src/img/img-btn.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &_voice, &_micro {
    height: 70px;
    width: 70px;
    background-color: rgba(36, 34, 34, 0.842);
    border: 1px solid rgba(255, 255, 255, 0.856);
    border-radius: 5px;
    padding: 0;
    margin: 0 10px;
    opacity: 0.8;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
      background-color: rgb(41, 33, 33);
    }

    img {
      height: 65%;
      width: auto;
    }

    &.active {
      background-color: rgba(0, 255, 42, 0.342);
    }
  }

  &_search-inp {
    width: 100%;
    height: 40px;
    max-width: 185px;
    background-color: rgba(36, 34, 34, 0.842);
    border: 1px solid rgba(255, 255, 255, 0.856);
    color: white;
    padding: 0 10px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    opacity: 0.8;
    
    &:hover, &:focus {
      opacity: 0.9;
      background-color: rgb(41, 33, 33);
    }

    @media (max-width: 767px) {
      max-width: 80%;
      min-width: 200px;
    }
  }

  &_search-btn {
    height: 40px;
    max-width: 185px;
    background-color: rgba(36, 34, 34, 0.842);
    border: 1px solid rgba(255, 255, 255, 0.856);
    color: white;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
    
    &:hover, &:focus {
      opacity: 0.9;
      background-color: rgb(41, 33, 33);
    }
  }
}

.title {
  z-index: 1;
  user-select: none;

  &_wrapper {
    display: flex;
    flex-direction: column;
    color: white;

    @media (max-width: 767px) {
      padding-left: 40px;
    }

    @media (max-width: 520px) {
      align-items: center;
    }
  }
  
  &_place {
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 0 0 10px black, 0 0 10px black;
  }

  &_describe {
    text-shadow: 0 0 10px black, 0 0 10px black,
    0 0 10px black, 0 0 10px black,
    0 0 10px black, 0 0 10px black;
  }

  &_date {
    position: relative;
    top: 20px;
    text-shadow: 0 0 10px black, 0 0 10px black,
    0 0 10px black, 0 0 10px black,
    0 0 10px black, 0 0 10px black;
  }
}

.content {
  z-index: 1;
  color: white;
  user-select: none;

  &_wrapper {
    display: flex;
    justify-content: space-around;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

  }
}

.weather {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    flex-direction: row;
    // flex-grow: 1;
    justify-content: space-around;
  }

  @media (max-width: 520px) {
    flex-direction: column;
    align-items: center;
  }

  &_wrapper {
    width: 100%;
    padding: 20px 0;  
  }
}

.now {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  &_temperature {
    display: flex;
    align-items: flex-start;
    font-size: 25vh;
    line-height: 1em;
    font-weight: 800;
    text-shadow: 0 0 10px black, 0 0 10px black,
    0 0 10px black, 0 0 10px black,
    0 0 10px black, 0 0 10px black;


    @media (min-height: 900px) {
      font-size: 15vw;
    }

    @media (max-width: 1020px) {
      font-size: 20vw;
    }
  }

  &_unit {
    font-size: 0.2em;
    line-height: 1em;
  }

  &_climate {
    position: relative;
    left: -20px;
    margin-left: 40px;
    
  }

  &_icon {
    position: relative;
    left: -20px;
  }

  &_param {
    font-size: 1rem;
    font-weight: 600;
    max-width: 150px;
    text-shadow: 0 0 10px black, 0 0 10px black,
    0 0 10px black, 0 0 10px black,
    0 0 10px black, 0 0 10px black;

    &__title::after{
      content: ': ';
    }

    &__feels::after {
      content: '°';
    }

    &__humidity::after {
      content: ' %';
    }

  }

}

.future {
  display: flex;
  width: 50%;
  text-shadow: 0 0 10px black, 0 0 10px black,
  0 0 10px black, 0 0 10px black,
  0 0 10px black, 0 0 10px black;


  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 10px;
    width: auto;
  }

  @media (max-width: 520px) {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
  }

  &_day {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgba(36, 34, 34, 0.692);
    border: 1px solid rgba(78, 78, 78, 0.856);
    border-radius: 10px;
    padding: 10px;

    @media (max-width: 767px) {
      margin: 10px;
      padding: 10px;
      min-width: 100px;
    }

    @media (max-width: 520px) {
      margin: 20px 5px;
      min-width: 0;

    }
  }

  &_title {
    align-self: flex-start;

    @media (max-width: 767px) {
      align-self: center;
    }
  }

  &_icon {
    position: relative;
    align-self: flex-end;

    @media (max-width: 520px) {
      align-self: center;
    }
  }

  &_temperature {
    align-self: flex-start;
    
    &::after {
      content: '°';
    }
  
    @media (max-width: 767px) {
      align-self: center;
    }
  
    @media (max-width: 520px) {
      align-self: flex-start;
    }

    align-self: flex-start;

  
  }

}

.geo {
  flex-grow: 1;
  max-width: 40%;
  position: relative;
  left: -20px;

  @media (max-width: 767px) {
    left: 0;  }


  &_wrapper {
    position: absolute;
    bottom: 0px;
    right: 0px;

    @media (max-width: 767px) {
      position: relative;
    }

  }

  @media (max-width: 767px) {
    max-width: 100%;
  }

  &_coordinate {
    position: relative;
    top: 40px;
    left: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 10px black, 0 0 10px black,
    0 0 10px black, 0 0 10px black,
    0 0 10px black, 0 0 10px black;


    @media (max-width: 960px) {
    }
  
  
    @media (max-width: 520px) {
      top: 20px;
    }
  
    @media (max-height: 700px) {
    }
  }

  &_map-wrapper {
    position: relative;
    padding-top: 20px;
  }

  &_map-background {
    position: absolute;
    height: 125%;
    width: 133%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.0) 90%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50%;
    box-shadow: 0 0 0px 0 black inset, 0 0 50px 0 black;
    z-index: 1;
    pointer-events: none;

    @media (max-width: 520px) {
      top: 55%;
    }
  }
  
  &_map {
    height: 450px;
    width: 435px;
    clip-path: url(#myClip);

    @media (max-height: 700px) {
      height: 360px;
      width: 350px;
    }

    @media (max-width: 1020px) {
      height: 295px;
      width: 280px;
    }

    @media (max-width: 767px) {
      height: 405px;
      width: 390px;
    }

    @media (max-width: 520px) {
      height: 232px;
      width: 225px;
    }
  }

  &_param {
    &__title {
      &::after {
        content: ':';
      }
    }
  }
}

.messages {
  z-index: 999;
}

#myPath {
  @media (max-height: 700px) {
    transform: scale(0.8);
  }

  @media (max-width: 1020px) {
    transform: scale(0.65);
  }

  @media (max-width: 767px) {
    transform: scale(0.9);
  }

  @media (max-width: 520px) {
    transform: scale(0.52);
  }
}

[data-unit="c"] {
  .controls_unit-c {
    background-color: rgba(250, 254, 248, 0.61);
    color: rgb(5, 100, 5);
  }
}

[data-unit="f"] {
  .controls_unit-f {
    background-color: rgba(250, 254, 248, 0.61);
    color: rgb(37, 4, 114);
  }
}

.leaflet-top {
  transform: rotate(45deg);
  top: 10%;
  left: 4%;

  @media (max-height: 700px) {
    top: 10%;
    left: 4%;
    }

  @media (max-width: 1020px) {
    top: 9%;
    left: 5%;
  }

  @media (max-width: 767px) {
    top: 10%;
    left: 3%;
  }

  @media (max-width: 520px) {
    top: 9%;
    left: 5%;
  }
}

