@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  margin: 0;

  @media (max-width: 767px) {
    height: auto;
  }

  @media (min-height: 900px) {
    padding: 15vh 0;
  }

}

.wrapper {
  display: flex;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;

  @media (max-width: 960px) {
    padding: 0 30px;
  }

  @media (max-width: 767px) {
    padding: 0 20px;
  }

  @media (max-width: 480px) {
    padding: 0 10px;
  }
}

.controls {

  &_wrapper {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_base, &_helpers, &_search {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin: 10px 0;    
  }

  &_base {
    justify-content: flex-start;

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &_helpers {
    justify-content: center;
  }

  &_search {
    justify-content: flex-end;
    position: relative;

    @media (max-width: 767px) {
      margin: 10px;
      justify-content: center;    
    }
  }

  &_background-btn, &_unit-btn, &_language {
    height: 50px;
    width: 50px;
    background-color: grey;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0;
    margin: 0 10px;
  }

  &_background-btn {
    background-image: url("/src/img/img-btn.png");
    background-size: cover;
  }

  &_unit-c, &_unit-c {
    height: 100%;
  }

  &_voice, &_micro {
    height: 70px;
    width: 70px;
    background-color: grey;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0;
    margin: 0 10px;

    img {
      height: 80%;
      width: auto;
    }

    &.active {
      background-color: red;
    }
  }

  &_search-inp {
    width: 100%;
    max-width: 185px;

    @media (max-width: 767px) {
      max-width: 80%;
      min-width: 200px;
    }
  }
}

.title {
  &_wrapper {
    display: flex;
    flex-direction: column;

    @media (max-width: 520px) {
      align-items: center;
    }
  }
  
  &_place {
    font-size: 2rem;
    font-weight: 800;
  }

  &_date {

  }
}

.content {
  &_wrapper {
    display: flex;
    justify-content: space-around;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

  }
}

.weather {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    flex-direction: row;
  }

  @media (max-width: 520px) {
    flex-direction: column;
  }
}

.now {
  display: flex;
  margin-bottom: 20px;

  &_temperature {
    display: flex;
    align-items: center;
    font-size: 25vh;
    line-height: 1em;
    font-weight: 800;

    @media (min-height: 900px) {
      font-size: 270px;
    }

    @media (max-width: 1020px) {
      font-size: 15vw;
    }
  }

  &_climate {
    position: relative;
    left: -20px;
    margin-left: 40px;
  }

  &_icon {
    position: relative;
    left: -20px;
  }

  &_param {
    font-size: 1rem;
    font-weight: 600;
    max-width: 150px;
  }

}

.future {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
  }

}

.geo {
  flex-grow: 1;
  max-width: 40%;
  position: relative;

  &_wrapper {
    position: absolute;
    bottom: 0px;
    right: 0px;

    @media (max-width: 767px) {
      position: relative;
    }

  }

  @media (max-width: 767px) {
    max-width: 100%;
  }

  &_coordinate {
    position: relative;
    top: 30px;
    left: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 960px) {
    }
  
    @media (max-width: 767px) {
    }
  
    @media (max-width: 520px) {
    }
  
    @media (max-height: 700px) {
    }
  }
  
  &_map {
    height: 450px;
    width: 435px;
    clip-path: url(#myClip);

    @media (max-height: 700px) {
      height: 360px;
      width: 350px;
    }

    @media (max-width: 1020px) {
      height: 315px;
      width: 305px;
    }

    @media (max-width: 767px) {
      height: 515px;
      width: 500px;
    }

    @media (max-width: 520px) {
      height: 290px;
      width: 285px;
    }
  }
}

#myPath {
  @media (max-height: 700px) {
    transform: scale(0.8);
  }

  @media (max-width: 1020px) {
    transform: scale(0.7);
  }

  @media (max-width: 767px) {
    transform: scale(1.15);
  }

  @media (max-width: 520px) {
    transform: scale(0.65);
  }
}

[data-unit="c"] {
  .controls_unit-c {
    background-color: green;
  }
}

[data-unit="f"] {
  .controls_unit-f {
    background-color: green;
  }
}

