.message {
  &_form {
    position: relative;
  }

  &_title {
    padding: 0;
    margin: 0;
  }

  &_city {
    font-weight: 600;
  }

  &_describe {
    padding: 0;
    margin: 0 0 5px;
    font-size: 0.8rem;
    max-width: 90%;
    text-align: center;
  }

  &_input {
    width: 250px;
    margin: 0;
    outline: none;
    border: 1px solid green;
  }
}